.report {
  width:  21.0cm;
  height: 29.7cm;
  background: #ffffff; 
  align-items: center;
  justify-content: center;
  margin: 0 auto;
 
}

.container{
  margin: 15.5mm 1mm 16.5mm 1mm;
}



header {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 345px 270px 160px;
  grid-template-rows: 28px 28px;
  align-items: center;
  justify-content: center;
}

header > div {
  color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* logotipo*/
header > div img {
  width: 250px;
  height: 80px;
  object-fit: cover;
  object-fit: fill;
  align-items:center ;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* QR */
.qr {
  width: 100px;
  height: 100px;
  display: flex;
  justify-items: end;
  margin: 0 auto;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.18));
}

.title {
  padding: 10px 3px;
  flex-direction: column;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #0f0e0e;
}
.-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #0f0e0eb4;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.wrap {
  padding-top: 1px;
  padding: 0 3px;
}

.ruc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #848484;
}

.empresa {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #474747;
}
.direccion {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #848484;
}

.anexo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #0f0d0d;
}

.correo {
  display: grid;
  margin-top: -12px;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: 250px 250px;
}

.info {
  display: flex;
  
}

.telef {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: #0f0e0eb4;
  padding-left: 10px;
}

.factura {
  border-top: #9A9A9A solid 1px;
  border-bottom: #9A9A9A solid 1px;
  padding: 10px 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  font-size: 13px;
  text-align: center;
  line-height: 12px;
  display: flex;
  justify-items: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: #272727;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  color: #222222;
  background: #ededed;
  border: 0.5px solid #d6d6d6;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.01em;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 6px;  
  text-align: center;  
}

#customers tr:nth-child(even) {
  background-color: #ffffff;
  color: #222222;
  font-weight: normal;
  text-align: center;  
}

#customers tr:hover {
  background-color: #ddd;

}

#customers th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  color: #131212;
  background: #ededed;
  border: 0.5px solid #d6d6d6;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.01em;
}

.compra {
  display: grid;
  grid-gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 510px 270px;
}

.cuotas{  
    display: grid;   
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 170px 600px;
    padding-top: 1px;
    padding-bottom: 1px;
  
}
.le{
  text-align: left;
}

.orcompra {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  align-items: center;
  color: #474747;
}


.text-color{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 11px;
display: flex;
align-items: center;
letter-spacing: 0.01em;
padding-left: 16px;
color: #848484;
}


.cols{
  display: flex;
  padding: 4px;
}

.flexcol{
  flex-direction: column;
}


.credit{
  color: #474747;
  padding-left: 25px;
  font-weight: 500;
}
.moneda{
  padding-left: 67px;
}

.gremitente{
  padding-left: 39px;
}
.trasnpor{
  padding-left: 21px;
}
.placa{
  padding-left: 83px;
}
.obserbacion{
  padding-left: 45px;
}


.cols-jus{
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.tt{
  color: #919191;
}

.border{
  border: #474747 solid 0.2px;
}
.monto{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 12px;
  display: flex;
  color: #5E5E5E;
}

.foot{
   justify-content: center;
   align-content: center;
   color: #848484;
   padding-top: 12px;
}
.cuotas-text{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
text-align: start;
line-height: 11px;
color: #333333;
}

.clientes{
  padding-left: 60px;
  text-transform: uppercase;
}

.direccions{
  padding-left: 47px;
}

.padid{
  padding-top: 18px;
}

.linkem{
  padding-left: 5px;
}